.razgovor-container{
  background-color: #5E6572;
  display: flex;
  flex-direction: column;
  max-height: 600px;
  overflow-y: scroll;
  border-radius: 20px;
  padding: 10px;
}

.poruka-container{
  margin-bottom: 5px;
  background-color: #0EB1D2;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
}

.date-time-row{
  display: flex;
  flex-direction: row;
}

.date-msg-container{
  margin-right: 20px;
}

.poruka-container-left{
  align-items: start;
}

.poruka-container-right{
  align-items: end;
}

.msg-content{
  padding-top: 10px;
  padding-bottom: 10px;
}

.new-msg-form{
  display: flex;
  flex-direction: column;
}